   .home:hover{
     transform: scale(1.1);
     cursor: pointer;
   }
   .btn:active{
      background-color: yellow !important;
      color: purple !important;
      border: 2px solid green !important;
      cursor: pointer;
   }
   
   

 